[Unit]
Description=Minecraft Forge server
After=network.target

[Service]
User=root
WorkingDirectory=/opt/minecraft
ExecStart=/usr/bin/java @user_jvm_args.txt @{{ forge_unix_args }} nogui
Restart=on-failure

[Install]
WantedBy=multi-user.target
